# **Business Understanding**

## Cardiovascular Diseases (CVDs)

Cardiovascular diseases are a group of disorders affecting the heart and blood vessels. Here are some of the key types:

1. **Acute Myocardial Infarction**
   - **Description**: A medical emergency that occurs when blood flow to part of the heart muscle is interrupted, causing tissue damage due to lack of oxygen.

2. **Coronary Heart Disease**
   - **Description**: A condition characterized by the narrowing or blockage of the blood vessels that supply the heart.

3. **Heart Failure**
   - **Description**: A medical condition in which the heart is unable to pump blood effectively enough to meet the body's needs for oxygen and nutrients.

4. **Stroke**
   - **Description**: A medical emergency that occurs when blood flow to part of the brain stops, causing damage to brain tissue.

أمراض القلب والأوعية الدموية الرئيسية
معدل الاستشفاء الرئيسي لأمراض القلب والأوعية الدموية بين المستفيدين من رسوم الرعاية الطبية مقابل الخدمة (65+)

انتشار الوفيات داخل المستشفى بين حالات الاستشفاء الرئيسية لأمراض القلب والأوعية الدموية ، والمستفيدين من رسوم الرعاية الطبية مقابل الخدمة (65+) ؛ 

أمراض القلب (أمراض القلب)
أمراض القلب (أمراض القلب) معدل الاستشفاء بين المستفيدين من الرعاية الطبية (65+)

انتشار الوفيات داخل المستشفى بين مستشفيات أمراض القلب (أمراض القلب) ، المستفيدون من رسوم الرعاية الطبية مقابل الخدمة (65+)

stroke
انتشار الوفيات داخل المستشفى بين حالات الاستشفاء من الأمراض الدماغية الوعائية (السكتة الدماغية) ، والمستفيدين من رسوم الرعاية الطبية مقابل الخدمة (65+)

معدل الاستشفاء من الأمراض الدماغية الوعائية (السكتة الدماغية) بين المستفيدين من رسوم الرعاية الطبية مقابل الخدمة (65+)

## Data Understanding

In [427]:
import pandas as pd

In [428]:
pd.set_option('display.max_columns', None)

data = pd.read_csv('Medicare.csv')

data.head(5)

,RowId,YearStart,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Class,Topic,Question,Data_Value_Type,Data_Value_Unit,Data_Value,Data_Value_Alt,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,Break_Out_Category,Break_Out,ClassId,TopicId,QuestionId,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationId,GeoLocation
0,NaN,2016,US,United States,Medicare,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,Crude,"Rate per 100,000",2367.6,2367.6,NaN,NaN,2318.3,2417.9,Race,Unknown,C1,T1,MD101,Crude,BOC04,RAC08,59,NaN
1,NaN,2017,US,United States,Medicare,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,Crude,"Rate per 100,000",2403.7,2403.7,NaN,NaN,2358.1,2450.2,Race,Unknown,C1,T1,MD101,Crude,BOC04,RAC08,59,NaN
2,NaN,2018,US,United States,Medicare,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,Crude,"Rate per 100,000",2482.3,2482.3,NaN,NaN,2438.9,2526.4,Race,Unknown,C1,T1,MD101,Crude,BOC04,RAC08,59,NaN
3,NaN,2019,US,United States,Medicare,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,Crude,"Rate per 100,000",5395.0,5395.0,NaN,NaN,5381.7,5408.2,Gender,Male,C1,T1,MD101,Crude,BOC02,GEN01,59,NaN
4,NaN,2020,US,United States,Medicare,NaN,NaN,NaN,NaN,Cardiovascular Diseases,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,Crude,"Rate per 100,000",4505.4,4505.4,NaN,NaN,4493.3,4517.5,Gender,Male,C1,T1,MD101,Crude,BOC02,GEN01,59,NaN

In [429]:
data['LocationDesc'].value_counts()

LocationDesc
United States     720
Massachusetts     648
Maryland          648
Georgia           648
Washington        648
Connecticut       648
New Jersey        648
Illinois          648
North Carolina    648
Florida           648
New York          648
Ohio              648
California        648
Texas             648
Colorado          648
Kansas            648
Virginia          647
Oregon            647
Michigan          647
Oklahoma          647
Nevada            647
Wisconsin         647
Minnesota         647
Iowa              647
Pennsylvania      647
Arizona           647
Tennessee         646
Indiana           645
Missouri          644
Louisiana         644
Delaware          644
Nebraska          644
South Carolina    644
Arkansas          643
Utah              643
Kentucky          643
Alabama           642
Idaho             641
New Mexico        641
Hawaii            640
New Hampshire     639
Mississippi       639
Rhode Island      634
Alaska            632
West Virginia     630
Washington, DC    630
Maine             630
Wyoming           627
Montana           625
South Dakota      623
Vermont           617
North Dakota      614
Name: count, dtype: int64

In [430]:
data['Question'].value_counts()

Question
Major cardiovascular disease hospitalization rate among Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                                                   2814
Diseases of the heart (heart disease) hospitalization rate among Medicare beneficiaries (65+); CMS Medicare                                                          2814
Coronary heart disease hospitalization rate among Medicare beneficiaries (65+); CMS Medicare                                                                         2814
Heart failure hospitalization rate among Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                                                                  2814
Acute myocardial infarction (heart attack) hospitalization rate among Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                                     2814
Cerebrovascular disease (stroke) hospitalization rate among Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                                               2814
Prevalence of in-hospital mortality among major cardiovascular disease hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                  2812
Prevalence of in-hospital mortality among diseases of the heart (heart disease) hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare         2806
Prevalence of in-hospital mortality among cerebrovascular disease (stroke) hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare              2792
Prevalence of in-hospital mortality among coronary heart disease hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                        2779
Prevalence of in-hospital mortality among acute myocardial infarction (heart attack) hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare    2770
Prevalence of in-hospital mortality among heart failure hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare                                 2611
Name: count, dtype: int64

In [431]:
data['Break_Out'].value_counts()

Break_Out
Male                  3744
75+                   3744
Non-Hispanic White    3744
Female                3744
Other                 3733
Unknown               3712
Non-Hispanic Black    3697
Non-Hispanic Asian    3658
Hispanic              3606
Overall                 72
Name: count, dtype: int64

 #### Gender = Male + Female
 #### Age = +75
 #### Race = Non-Hispanic White + Non-Hispanic Black + Non-Hispanic Asian + Hispanic + Other + Unknown
 #### Overall = Overall

In [432]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33454 entries, 0 to 33453
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   RowId                       0 non-null      float64
 1   YearStart                   33454 non-null  int64
 2   LocationAbbr                33454 non-null  object
 3   LocationDesc                33454 non-null  object
 4   DataSource                  33454 non-null  object
 5   PriorityArea1               0 non-null      float64
 6   PriorityArea2               0 non-null      float64
 7   PriorityArea3               0 non-null      float64
 8   PriorityArea4               0 non-null      float64
 9   Class                       33454 non-null  object
 10  Topic                       33454 non-null  object
 11  Question                    33454 non-null  object
 12  Data_Value_Type             33454 non-null  object
 13  Data_Value_Unit             33454 non-null  object
 14  Data_Value                  33454 non-null  float64
 15  Data_Value_Alt              33454 non-null  float64
 16  Data_Value_Footnote_Symbol  0 non-null      float64
 17  Data_Value_Footnote         0 non-null      float64
 18  Low_Confidence_Limit        33454 non-null  float64
 19  High_Confidence_Limit       33454 non-null  float64
 20  Break_Out_Category          33454 non-null  object
 21  Break_Out                   33454 non-null  object
 22  ClassId                     33454 non-null  object
 23  TopicId                     33454 non-null  object
 24  QuestionId                  33454 non-null  object
 25  Data_Value_TypeID           33454 non-null  object
 26  BreakOutCategoryId          33454 non-null  object
 27  BreakOutId                  33454 non-null  object
 28  LocationId                  33454 non-null  int64
 29  GeoLocation                 32734 non-null  object
dtypes: float64(11), int64(2), object(17)
memory usage: 7.7+ MB

In [433]:
data['Break_Out_Category'].value_counts()

Break_Out_Category
Race       22150
Gender      7488
Age         3744
Overall       72
Name: count, dtype: int64

In [434]:
cat_columns = data.select_dtypes(include='object')

In [435]:
data['LocationAbbr'].value_counts()

LocationAbbr
AR    1281
ME    1278
US     720
TX     648
CT     648
GA     648
KS     648
FL     648
NJ     648
WA     648
IL     648
NC     648
CO     648
MA     648
NY     648
OH     648
CA     648
WI     647
OR     647
VI     647
IA     647
PA     647
MI     647
OK     647
MN     647
NV     647
TN     646
IN     645
NB     644
MO     644
LA     644
SC     644
DE     644
KY     643
UT     643
AL     642
NM     641
ID     641
HI     640
MS     639
NH     639
RI     634
AK     632
DC     630
WV     630
WY     627
MT     625
SD     623
VT     617
ND     614
AZ       9
Name: count, dtype: int64

## Note: LocationAbbr is incorrect

In [436]:
data[data.LocationAbbr == 'AR']['LocationDesc'].value_counts()

LocationDesc
Arkansas    643
Arizona     638
Name: count, dtype: int64

In [437]:
data[data.LocationAbbr == 'AZ']['LocationDesc'].value_counts()

LocationDesc
Arizona    9
Name: count, dtype: int64

In [438]:
data[data.LocationDesc == 'Arizona'].shape[0]

647

In [439]:
data['Data_Value_Unit'].value_counts()

Data_Value_Unit
Rate per 100,000    16884
Percent (%)         16570
Name: count, dtype: int64

In [440]:
data.columns.tolist()

['RowId',
 'YearStart',
 'LocationAbbr',
 'LocationDesc',
 'DataSource',
 'PriorityArea1',
 'PriorityArea2',
 'PriorityArea3',
 'PriorityArea4',
 'Class',
 'Topic',
 'Question',
 'Data_Value_Type',
 'Data_Value_Unit',
 'Data_Value',
 'Data_Value_Alt',
 'Data_Value_Footnote_Symbol',
 'Data_Value_Footnote',
 'Low_Confidence_Limit',
 'High_Confidence_Limit',
 'Break_Out_Category',
 'Break_Out',
 'ClassId',
 'TopicId',
 'QuestionId',
 'Data_Value_TypeID',
 'BreakOutCategoryId',
 'BreakOutId',
 'LocationId',
 'GeoLocation']

In [441]:
cat_columns.columns.tolist()

['LocationAbbr',
 'LocationDesc',
 'DataSource',
 'Class',
 'Topic',
 'Question',
 'Data_Value_Type',
 'Data_Value_Unit',
 'Break_Out_Category',
 'Break_Out',
 'ClassId',
 'TopicId',
 'QuestionId',
 'Data_Value_TypeID',
 'BreakOutCategoryId',
 'BreakOutId',
 'GeoLocation']

In [442]:
topics = data['Topic'].value_counts().index.to_list()

In [443]:
for t in topics:
    print(t)
    print(data[data.Topic == t]['Question'].unique()[0])
    print(data[data.Topic == t]['Question'].unique()[1])

    print()

Major Cardiovascular Disease
Major cardiovascular disease hospitalization rate among Medicare Fee-For-Service beneficiaries (65+); CMS Medicare
Prevalence of in-hospital mortality among major cardiovascular disease hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare

Diseases of the Heart (Heart Disease)
Diseases of the heart (heart disease) hospitalization rate among Medicare beneficiaries (65+); CMS Medicare
Prevalence of in-hospital mortality among diseases of the heart (heart disease) hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare

Stroke
Prevalence of in-hospital mortality among cerebrovascular disease (stroke) hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare
Cerebrovascular disease (stroke) hospitalization rate among Medicare Fee-For-Service beneficiaries (65+); CMS Medicare

Coronary Heart Disease
Coronary heart disease hospitalization rate among Medicare beneficiaries (65+); CMS Medicare
Prevalence of in-hospital mortality among coronary heart disease hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare

Acute Myocardial Infarction (Heart Attack)
Prevalence of in-hospital mortality among acute myocardial infarction (heart attack) hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare
Acute myocardial infarction (heart attack) hospitalization rate among Medicare Fee-For-Service beneficiaries (65+); CMS Medicare

Heart Failure
Heart failure hospitalization rate among Medicare Fee-For-Service beneficiaries (65+); CMS Medicare
Prevalence of in-hospital mortality among heart failure hospitalizations, Medicare Fee-For-Service beneficiaries (65+); CMS Medicare

## Data Prepration

In [444]:
data.drop(columns=['RowId','PriorityArea1','PriorityArea2','PriorityArea3','PriorityArea4' , 'Class','Data_Value_Footnote_Symbol' , 'Data_Value_Footnote','Data_Value_TypeID','Data_Value_Type','DataSource'],inplace=True)

In [445]:
data.head(10)

,YearStart,LocationAbbr,LocationDesc,Topic,Question,Data_Value_Unit,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit,Break_Out_Category,Break_Out,ClassId,TopicId,QuestionId,BreakOutCategoryId,BreakOutId,LocationId,GeoLocation
0,2016,US,United States,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,"Rate per 100,000",2367.6,2367.6,2318.3,2417.9,Race,Unknown,C1,T1,MD101,BOC04,RAC08,59,NaN
1,2017,US,United States,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,"Rate per 100,000",2403.7,2403.7,2358.1,2450.2,Race,Unknown,C1,T1,MD101,BOC04,RAC08,59,NaN
2,2018,US,United States,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,"Rate per 100,000",2482.3,2482.3,2438.9,2526.4,Race,Unknown,C1,T1,MD101,BOC04,RAC08,59,NaN
3,2019,US,United States,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,"Rate per 100,000",5395.0,5395.0,5381.7,5408.2,Gender,Male,C1,T1,MD101,BOC02,GEN01,59,NaN
4,2020,US,United States,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,"Rate per 100,000",4505.4,4505.4,4493.3,4517.5,Gender,Male,C1,T1,MD101,BOC02,GEN01,59,NaN
5,2021,US,United States,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,"Rate per 100,000",4694.6,4694.6,4682.0,4707.2,Gender,Male,C1,T1,MD101,BOC02,GEN01,59,NaN
6,2017,US,United States,Diseases of the Heart (Heart Disease),Diseases of the heart (heart disease) hospital...,"Rate per 100,000",1782.3,1782.3,1743.0,1822.4,Race,Unknown,C1,T2,MD201,BOC04,RAC08,59,NaN
7,2021,US,United States,Diseases of the Heart (Heart Disease),Diseases of the heart (heart disease) hospital...,"Rate per 100,000",1831.9,1831.9,1798.8,1865.7,Race,Unknown,C1,T2,MD201,BOC04,RAC08,59,NaN
8,2019,US,United States,Acute Myocardial Infarction (Heart Attack),Prevalence of in-hospital mortality among acut...,Percent (%),9.3,9.3,8.2,10.5,Race,Non-Hispanic Asian,C1,T3,MD403,BOC04,RAC03,59,NaN
9,2020,US,United States,Acute Myocardial Infarction (Heart Attack),Prevalence of in-hospital mortality among acut...,Percent (%),6.9,6.9,6.8,7.1,Gender,Male,C1,T3,MD403,BOC02,GEN01,59,NaN

In [446]:
data[data.Data_Value_Unit == 'Rate per 100,000']['Data_Value'].max()

8118.2

In [447]:
data[data.Data_Value_Unit == 'Rate per 100,000']['Data_Value'].min()

0.0

## So We Need to Normalize Data_Value_Unit

In [448]:
data.loc[data['Data_Value_Unit'] == 'Percent (%)', 'Data_Value']

8        9.3
9        6.9
14       0.0
15       0.0
16       2.7
        ...
33448    7.1
33449    0.0
33450    9.4
33451    4.2
33452    2.9
Name: Data_Value, Length: 16570, dtype: float64

In [449]:
def unit_normalizer(data):
    data.loc[data['Data_Value_Unit'] == 'Percent (%)', 'Data_Value'] *=100
    data.loc[data['Data_Value_Unit'] == 'Percent (%)', 'Data_Value_Alt'] *=100
    data.loc[data['Data_Value_Unit'] == 'Percent (%)', 'Low_Confidence_Limit'] *=100
    data.loc[data['Data_Value_Unit'] == 'Percent (%)', 'High_Confidence_Limit'] *=100
    data['Data_Value_Unit'] = data['Data_Value_Unit'].replace('Percent (%)' , 'Rate per 100,000')
    return data

In [450]:
data = unit_normalizer(data)

In [451]:
data.head(10)

,YearStart,LocationAbbr,LocationDesc,Topic,Question,Data_Value_Unit,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit,Break_Out_Category,Break_Out,ClassId,TopicId,QuestionId,BreakOutCategoryId,BreakOutId,LocationId,GeoLocation
0,2016,US,United States,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,"Rate per 100,000",2367.6,2367.6,2318.3,2417.9,Race,Unknown,C1,T1,MD101,BOC04,RAC08,59,NaN
1,2017,US,United States,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,"Rate per 100,000",2403.7,2403.7,2358.1,2450.2,Race,Unknown,C1,T1,MD101,BOC04,RAC08,59,NaN
2,2018,US,United States,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,"Rate per 100,000",2482.3,2482.3,2438.9,2526.4,Race,Unknown,C1,T1,MD101,BOC04,RAC08,59,NaN
3,2019,US,United States,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,"Rate per 100,000",5395.0,5395.0,5381.7,5408.2,Gender,Male,C1,T1,MD101,BOC02,GEN01,59,NaN
4,2020,US,United States,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,"Rate per 100,000",4505.4,4505.4,4493.3,4517.5,Gender,Male,C1,T1,MD101,BOC02,GEN01,59,NaN
5,2021,US,United States,Major Cardiovascular Disease,Major cardiovascular disease hospitalization r...,"Rate per 100,000",4694.6,4694.6,4682.0,4707.2,Gender,Male,C1,T1,MD101,BOC02,GEN01,59,NaN
6,2017,US,United States,Diseases of the Heart (Heart Disease),Diseases of the heart (heart disease) hospital...,"Rate per 100,000",1782.3,1782.3,1743.0,1822.4,Race,Unknown,C1,T2,MD201,BOC04,RAC08,59,NaN
7,2021,US,United States,Diseases of the Heart (Heart Disease),Diseases of the heart (heart disease) hospital...,"Rate per 100,000",1831.9,1831.9,1798.8,1865.7,Race,Unknown,C1,T2,MD201,BOC04,RAC08,59,NaN
8,2019,US,United States,Acute Myocardial Infarction (Heart Attack),Prevalence of in-hospital mortality among acut...,"Rate per 100,000",930.0,930.0,820.0,1050.0,Race,Non-Hispanic Asian,C1,T3,MD403,BOC04,RAC03,59,NaN
9,2020,US,United States,Acute Myocardial Infarction (Heart Attack),Prevalence of in-hospital mortality among acut...,"Rate per 100,000",690.0,690.0,680.0,710.0,Gender,Male,C1,T3,MD403,BOC02,GEN01,59,NaN

In [452]:
data['GeoLocation'].isnull().sum()

720

In [453]:
data['GeoLocation'].value_counts()

GeoLocation
POINT (-75.54397043 42.82700103)    648
POINT (-81.92896054 28.93204038)    648
POINT (-76.60926011 39.29058096)    648
POINT (-83.62758035 32.83968109)    648
POINT (-120.4700108 47.52227863)    648
POINT (-106.1336109 38.84384076)    648
POINT (-72.64984095 41.56266102)    648
POINT (-74.27369129 40.13057005)    648
POINT (-88.99771018 40.48501028)    648
POINT (-79.15925046 35.46622098)    648
POINT (-98.20078123 38.3477403)     648
POINT (-72.08269067 42.27687047)    648
POINT (-82.40426006 40.06021014)    648
POINT (-120.9999995 37.63864012)    648
POINT (-99.42677021 31.82724041)    648
POINT (-120.1550313 44.56744942)    647
POINT (-78.45789046 37.54268067)    647
POINT (-84.71439027 44.66131954)    647
POINT (-97.52107021 35.47203136)    647
POINT (-89.81637074 44.39319117)    647
POINT (-117.0718406 39.49324039)    647
POINT (-94.7942005 46.35564874)     647
POINT (-93.81649056 42.46940091)    647
POINT (-77.86070029 40.79373015)    647
POINT (-111.7638113 34.86597028)    647
POINT (-85.77449091 35.68094058)    646
POINT (-86.14996019 39.76691045)    645
POINT (-92.56630005 38.63579078)    644
POINT (-92.44568007 31.31266064)    644
POINT (-75.57774117 39.00883067)    644
POINT (-99.36572062 41.64104099)    644
POINT (-81.04537121 33.9988213)     644
POINT (-92.27449074 34.74865012)    643
POINT (-111.5871306 39.36070017)    643
POINT (-84.77497105 37.64597027)    643
POINT (-86.63186076 32.84057112)    642
POINT (-114.36373 43.68263001)      641
POINT (-106.240581 34.52088095)     641
POINT (-157.8577494 21.30485044)    640
POINT (-71.50036092 43.65595011)    639
POINT (-89.53803082 32.7455101)     639
POINT (-71.52247031 41.70828019)    634
POINT (-147.722059 64.84507996)     632
POINT (-80.71264013 38.6655102)     630
POINT (-77.03196113 38.89037139)    630
POINT (-68.98503134 45.25422889)    630
POINT (-108.1098304 43.23554134)    627
POINT (-109.4244206 47.06652897)    625
POINT (-100.3735306 44.35313005)    623
POINT (-72.51764079 43.62538124)    617
POINT (-100.118421 47.47531978)     614
Name: count, dtype: int64

In [458]:
import pandas as pd
import re

def extract_coordinates(geo_string):
    match = re.match(r'POINT \(([-\d.]+) ([-\d.]+)\)', geo_string)
    if match:
        return float(match.group(1)), float(match.group(2))
    return None, None

data[['Longitude', 'Latitude']] = data['GeoLocation'].apply(lambda x: extract_coordinates(x) if pd.notna(x) else (None, None)).apply(pd.Series)

In [459]:
data['Latitude'].value_counts()

Latitude
42.827001    648
28.932040    648
39.290581    648
32.839681    648
47.522279    648
38.843841    648
41.562661    648
40.130570    648
40.485010    648
35.466221    648
38.347740    648
42.276870    648
40.060210    648
37.638640    648
31.827240    648
44.567449    647
37.542681    647
44.661320    647
35.472031    647
44.393191    647
39.493240    647
46.355649    647
42.469401    647
40.793730    647
34.865970    647
35.680941    646
39.766910    645
38.635791    644
31.312661    644
39.008831    644
41.641041    644
33.998821    644
34.748650    643
39.360700    643
37.645970    643
32.840571    642
43.682630    641
34.520881    641
21.304850    640
43.655950    639
32.745510    639
41.708280    634
64.845080    632
38.665510    630
38.890371    630
45.254229    630
43.235541    627
47.066529    625
44.353130    623
43.625381    617
47.475320    614
Name: count, dtype: int64

In [454]:
missing_geo_locations = data[data['GeoLocation'].isnull()]
location_desc_missing_geo = missing_geo_locations['LocationDesc']
location_desc_missing_geo.value_counts()

LocationDesc
United States    720
Name: count, dtype: int64

## The Missing Values are all from United State so its not good to drop Them